@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:"Poppins", sans-serif;
}

.home,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-color: #000;
  color: #fff;
}

.navbar {
  background-color: #ffffff;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-bars {
  padding:20px;
  font-size: 2rem;
  background: none;
  color: #000;
}

.nav-menu {
  background-color: #ffffff;
  width: 80px !important;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 450ms;
}

.nav-text {
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 4px;
}


.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #ffffff;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
}


.css-6od3lo-MuiChip-label  {
  padding-left: 0 !important; 
}

.css-1jzq0dw-MuiChip-label {

  padding-left: 0 !important;


}

@media screen and (min-width: 768px) {
  .menu-bars {
    display: none;
  }

  .nav-menu {
    left: 0 !important;

  }

  .navbar-toggle{
    display: none;
  }
}

/* CSS for transition effect only in mobile view */
@media screen and (max-width: 767px) {
  .nav-menu.active {
    left: 0;
    transition: 450ms;
  }

  .nav-menu{
    height: 220vh;
  }
  
}

.custom-calendar {
  margin: 0 !important;

}

.css-1rtg91x-MuiDateCalendar-root {
  /* overflow: hidden; */
  width: 850px !important;
  max-height: 800px !important;
  height: 800px !important;

}

.css-i5q14k-MuiDayCalendar-header {
justify-content: flex-start !important;
width: 850px !important;
height: 40px !important;
padding-left: 0px !important;
padding-right: 0px !important;


}


.css-flbe84-MuiDayCalendar-weekContainer {
  -webkit-justify-content: flex-start !important;
  width: 850px !important;
  height: 80px !important;
  border-top: solid 1px #dfdadac2;


}

.css-rhmlg1-MuiTypography-root-MuiDayCalendar-weekDayLabel {
width:121px !important;
}

.css-1ayjnp4-MuiPickersDay-root, .css-1wy8uaa-MuiButtonBase-root-MuiPickersDay-root ,.css-23p0if-MuiButtonBase-root-MuiPickersDay-root  {
  width:121px !important;

}

.css-1wy8uaa-MuiButtonBase-root-MuiPickersDay-root {
  font-weight: 600 !important;
}
.css-23p0if-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected){
 border: none !important;
}


.css-1t0788u-MuiPickersSlideTransition-root-MuiDayCalendar-slideTransition {
  display: block;
  position: relative;
  overflow-x: unset !important;
  min-height: 400px !important;
}

.css-14iq4xa-MuiDayCalendar-root {
  border: solid 1px #dfdadac2;

}

#outlined-basic label {
font-size: 13PX !important;
color: #dfdadac2 !important;
}


